body {
	background-color: #e6ffe6;
}

div {
	border: 1px solid black;
}
.middleBlock {
	height: 800px;
	overflow: scroll;
}
.footer {
	height: 40px;
}
.row1 {
	height: 50px;
}
.info {
	margin-left: 15px;
	background-color: white;
}
.adv {
	height: 800px;
}